@model List<Blog.Core.Models.Tag>

<div class="tags sidebar">
    <h3>Теги</h3>

    @if (Model.Count > 0)
    {
        foreach (var tag in Model)
        {
            @Html.TagLink(tag)
        }
    }
    else
    {
        <p>Теги не найдены!</p>
    }
</div>